<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>linkedpush</title>
    <meta
      name="description"
      content="Converts your GitHub commits to LinkedIn posts, to maximize
    exposure."
    />
  </head>
  <body>
    <h1>linkedpush</h1>
    <h3>
      <a href="https://github.com/CakeCrusher/linkedpush">
        Source code on GitHub
      </a>
    </h3>
    <p>Converts your GitHub commits to LinkedIn posts, to maximize exposure.</p>
    <h2>Get Started</h2>
    <p>
      Authorize linkedpush (and initialize your linkedpush account) by
      navigating to <a href="<%= authUrl %>"><%= authUrl %></a>
    </p>
  </body>
</html>
